%h1
  Tracking #{@report.started_at.strftime("%a, %e %b %Y %H:%M:%S %z")}

%section#tasks
  %table.table.hover{role: "grid"}
    %thead
      %th Task Name
      - for occurrence in @report.possible_occurrences('header')
        %th= occurrence.started_at.strftime('%H:%M')
    %tbody
      - for task in @report.tasks
        = render partial: 'task_row', locals: { task: task, possible_occurrences: @report.possible_occurrences(task) }
