%h1
  Tracking #{@report.started_at.strftime("%a, %e %b %Y %H:%M:%S %z")}

-# Used for headers and new row
- new_task = @report.tasks.build(name: 'New Task')
- possible_occurrences = @report.merged_occurrences(new_task)
%section#tasks
  %table.table.hover{role: "grid"}
    %thead
      %th Task Name
      - possible_occurrences.each do |started_at, possible_occurrence|
        %th= possible_occurrence.started_at.strftime('%H:%M')
    %tbody
      - for task in @report.tasks
        = render partial: 'task_row', locals: { task: task, possible_occurrences: @report.merged_occurrences(task) }
