%h1 Reports

%table#reports
  %thead
    %th Started At
    %th Task Ct.
    %th Memo
  %tbody
    - for report in @reports
      %tr
        %td
          = link_to(report.started_at.to_formatted_s(:dow_with_long), report_path(report))
        %td
          = report.tasks.size
        %td
          = report.memo
