%h1
  Tracking #{@report.started_at.strftime("%a, %e %b %Y %H:%M:%S %z")}

%section#tasks
  %table
    %thead
      %th Task Name
      - @report.merged_occurrences('header').each do |started_at, possible_occurrence|
        %th= possible_occurrence.started_at.strftime('%H:%M')
    %tbody
      - for task in @report.tasks
        %tr
          %td
            = task.name

          - @report.merged_occurrences(task).each do |started_at, possible_occurrence|
            %td
              = possible_occurrence.new_record? ? '0' : 'X'
