%h1
  Tracking #{@report.started_at.strftime("%a, %e %b %Y %H:%M:%S %z")}

%section#tasks
  %table
    %thead
      %th Task Name
      - for occurrence in @report.possible_occurrences('header', 2.hours)
        %th= occurrence.started_at.strftime('%H:%M')
    %tbody
      - for task in @report.tasks
        %tr
          %td
            = task.name

          - @report.possible_occurrences(task, 2.hours).each_with_index do |possible_occurrence, index|
            %td
              = possible_occurrence.new_record? ? '0' : 'X'
